.header {
  height: 100px;
  color: white;
  background-color: var(--highlight);
  .logo {
    font-size:20px;
    font-weight: 700;
  }
}


ul {
  li {
    padding: 10px 5px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--btn-hover);
    }
    transition: background-color 0.4s;
  }
}
