<div style="margin-top: 200px" class="connexionFormulaire">

<form class=" formulaire center-element">
  <h1 class="text-center m-t-4">Conenxion utilisateur</h1>
  <div  class="d-flex flex-column justify-content-center col-6 center-element">
  <div class="mb-3">
    <label for="utilisateur" class="form-label">Nom utilisarteur</label>
    <input type="text" class="form-control" id="utilisateur" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="motdepasse" class="form-label">Mot de Passe</label>
    <input type="password" class="form-control" id="motdepasse">
  </div>
  <button type="submit" class="btn btn-primary m-t-4">Submit</button>
  </div>
</form>
</div>
